.header {
  background: var(--black-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  color: var(--gray1-color);
  display: inline-block;
  padding: 16px 0;
  position: relative;
}

.header-menu a::before {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 0px;
  margin-top: 29px;
  background: var(--gray1-color);
  transition: 0.3s;
}

.header-menu a:hover::before {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    font-size: 1rem;
    background: var(--gray11-color);
    padding: 12px 16px;
    border-radius: 5px;
  }

  .header-menu a:hover {
    background: var(--gray10-color);
  }

  .header-menu a::before {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 10px;
  }

  .header-menu a {
    font-size: 0.875rem;
    padding: 8px 12px;
  }
}
