.escolha-bg {
  background: var(--c00-color);
}

.escolha {
  padding-top: 60px;
  padding-bottom: 120px;
}

.escolha-titulo h1 {
  margin-bottom: 2rem;
}

.escolha-container {
  display: flex;
  gap: 2.5rem;
  max-width: 1400px;
  padding: 0 20px 20px 20px;
  margin: 0 auto;
  overflow-x: auto;
}

.escolha-container li {
  flex: 1;
  min-width: 280px;
}

.escolha-container a {
  display: block;
}

.escolha-content img {
  border-radius: 5px;
  transition: 1s;
}

.escolha-content h2 {
  margin-top: 1rem;
  align-items: center;
  display: flex;
}

.escolha-content h2::before {
  content: "";
  display: inline-block;
  background: var(--p1-color);
  height: 0.5rem;
  width: 0.75rem;
  margin-right: 8px;
  transition: width 0.2s;
}

.escolha-content a:hover h2::before {
  width: 1.5rem;
}

.escolha-content p {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .escolha {
    padding-bottom: 80px;
  }
  .escolha h1 {
    margin-bottom: 0rem;
  }
  .escolha-container {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .escolha {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .escolha-titulo h1 {
    margin-bottom: 20px;
  }

  .escolha-container {
    gap: 0.5rem;
  }

  .escolha-content p {
    margin-top: 0.1rem;
    padding-left: 10px;
  }

  .escolha-content h2::before {
    margin-right: 4px;
  }

  .escolha-content h2::before {
    width: 6px;
    height: 4px;
  }
}

@media (max-width: 400px) {
  .escolha {
    padding-bottom: 60px;
  }
  .escolha-titulo {
    margin-bottom: 10px;
  }
  .escolha-content h2::before {
    width: 8px;
    height: 4px;
  }
}
