.font-1-s-64 {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}
.font-1-s-36 {
  font: 600 2.25rem/1.33 "Poppins", sans-serif;
}
.font-1-s-32 {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}
.font-1-s-24 {
  font: 600 1.5rem/1.5 "Poppins", sans-serif;
}
.font-1-s-18 {
  font: 600 1.125rem/1.33 "Poppins", sans-serif;
}
.font-1-s-16 {
  font: 600 1rem/1.5 "Poppins", sans-serif;
}
.font-1-s-14 {
  font: 600 0.8755rem/1.43 "Poppins", sans-serif;
}
.font-1-s-12 {
  font: 600 0.75rem/1.33 "Poppins", sans-serif;
}
.font-1-m-24 {
  font: 500 1.5/1.5 "Poppins", sans-serif;
}
.font-1-m-18 {
  font: 500 1.125rem/1.33 "Poppins", sans-serif;
}

.font-1-m-12 {
  font: 500 0.75rem/1.33 "Poppins", sans-serif;
}

.font-1-r-18 {
  font: 400 1.125rem/1.33 "Poppins", sans-serif;
}
.font-1-r-16 {
  font: 400 1rem/1.5 "Poppins", sans-serif;
}
.font-2-s-18 {
  font: 600 1.125rem/1.33 "Roboto", sans-serif;
}
.font-2-s-16 {
  font: 600 1rem/1.5 "Roboto", sans-serif;
}
.font-2-m-18 {
  font: 500 1.125rem/1.33 "Roboto", sans-serif;
}
.font-2-m-16 {
  font: 500 1rem/1.5 "Roboto", sans-serif;
}
.font-2-r-24 {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}
.font-2-r-18 {
  font: 400 1.125rem/1.5 "Roboto", sans-serif;
}
.font-2-r-16 {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-2-r-14 {
  font: 400 0.875rem/1.4 "Roboto", sans-serif;
}

.font-2-r-36-b {
  /*1.5 letter spacing */
  font: 400 2rem/1.5 "Roboto", sans-serif;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-2-r-24-b {
  /*1.5 letter spacing */
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}
.font-2-r-14 {
  font: 400 0.875rem/1.4 "Roboto", sans-serif;
}
.font-3-black {
  font: 900 2.25rem/1.33 "Merriweather";
  font-style: italic;
}

@media (max-width: 1200px) {
  .font-1-s-64 {
    font-size: 3rem;
  }
  .font-2-r-24,
  .font-2-r-24-b {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .font-1-s-64,
  .font-1-s-36 {
    font-size: 2rem;
  }

  .font-2-r-24-b,
  .font-2-m-18 {
    font-size: 1rem;
  }
  .font-1-s-32 {
    font-size: 1.5rem;
  }
  .font-2-r-24 {
    font-size: 1.125rem;
  }
}

@media (max-width: 600px) {
  .font-1-s-32,
  .font-1-s-24 {
    font-size: 1.125rem;
  }

  .font-2-r-18 {
    font-size: 1rem;
  }

  .font-2-r-24-b,
  .font-2-m-18 {
    font-size: 0.875rem;
  }

  .font-3-black {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .font-1-s-64,
  .font-3-black,
  .font-1-s-36 {
    font-size: 1.5rem;
  }
  .font-2-r-24,
  .font-2-r-24-b,
  .font-1-s-24 {
    font-size: 0.7rem;
  }
}
