.titulo-bg {
  background: var(--c11-color);
}

.titulo-header {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 800px) {
  .titulo-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .titulo-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
