.termos-bg {
  background: var(--c00-color);
}

.termos {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
}

.termos h1 {
  margin-bottom: 20px;
}

.termos p + h1 {
  margin-top: 40px;
}

.termos p {
  margin-bottom: 20px;
  max-width: 75ch;
}

@media (max-width: 800px) {
  .termos {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 600px) {
  .termos h1,
  .termos p {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .termos {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .termos p + h1 {
    margin-top: 20px;
  }
}
